<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
            aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="assets/img/home carousel img 01.png" class="d-block w-100" alt="Event 1">
            <div class="container">
                <div class="carousel-caption text-start">
                    <h1>Join Eventify Today!</h1>
                    <p class="opacity-75">Sign up to explore a world of exclusive events, gain early access to tickets,
                        and stay updated on the latest happenings tailored just for you. Become part of the Eventify
                        community and never miss a moment!</p>
                    <p><button class="btn btn-lg btn-warning">Sign up today</button></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="assets/img/home carousel img 03.png" class="d-block w-100" alt="Event 2">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Discover Exciting Events Near You!</h1>
                    <p>From workshops to concerts and networking mixers, find events that match your interests and fuel
                        your passions. Eventify brings you the best happenings right to your fingertips—explore,
                        register, and be part of unforgettable experiences!</p>
                    <p><button class="btn btn-lg btn-warning" href="#">Learn more</button></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="assets/img/home carousel img 02.png" class="d-block w-100" alt="Event 3">
            <div class="container">
                <div class="carousel-caption text-end">
                    <h1>Connecting People Through Experiences</h1>
                    <p>At Eventify, we believe in the power of shared experiences to bring people together. Our mission
                        is to make discovering, organizing, and attending events seamless and exciting. Join us as we
                        connect communities and create memorable moments for everyone.</p>
                    <p><button class="btn btn-lg btn-warning" href="#">Learn more</button></p>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="container marketing mt-3">

    <!-- Three columns of text below the carousel -->
    <div data-aos="zoom-in-up" class="row p-5">
        <div class="col-lg-4">
            <img src="assets/img/marketing img 01.jpg" alt="Description of image"
                class="bd-placeholder-img rounded-circle" width="200" height="200">
            <h2 class="fw-normal">Discover Events Near You</h2>
            <p>Explore a wide range of events right in your area from live music to professional meetups and
                family-friendly activities. Eventify helps you find something exciting around every corner!</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img src="assets/img/marketing img 02.jpg" alt="Description of image"
                class="bd-placeholder-img rounded-circle" width="200" height="200">
            <h2 class="fw-normal">Plan and Host Seamlessly</h2>
            <p>Organizing an event? Eventify gives you all the tools you need to plan, promote, and manage your events
                effortlessly. Reach a larger audience and make your event unforgettable!</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img src="assets/img/marketing img 03.jpg" alt="Description of image"
                class="bd-placeholder-img rounded-circle" width="200" height="200">
            <h2 class="fw-normal">Stay Updated with Personal Recommendations</h2>
            <p>Get tailored event recommendations based on your interests. With Eventify, you'll always be in the know
                about events that matter to you, from concerts to workshops and more.</p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div data-aos="fade-up-right" class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">Effortless Event Discovery</h2>
            <p class="lead">Finding events that match your interests has never been easier. With Eventify’s smart search
                and personalized recommendations, you’re just a click away from your next unforgettable experience. From
                concerts to workshops, we bring the best events right to your screen.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" width="500" height="500" src="assets/img/featurette 01.jpg" alt="Effortless Event Discovery" />
        </div>
    </div>

    <hr class="featurette-divider">

    <div data-aos="fade-up-left" class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1">Streamlined Event Management</h2>
            <p class="lead">Eventify simplifies event organization, providing all the tools you need to create, promote,
                and manage events seamlessly. Track RSVPs, engage with attendees, and make your event planning process
                efficient and hassle-free.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" width="500" height="500" src="assets/img/featurette 02.jpg" alt="Streamlined Event Management" />
        </div>
    </div>

    <hr class="featurette-divider">

    <div data-aos="fade-up-right" class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">Stay in the Know with Real-Time Updates</h2>
            <p class="lead">Never miss out on important event details again. With Eventify’s real-time notifications,
                you can receive updates on schedule changes, location shifts, or exclusive content—keeping you connected
                and informed every step of the way.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" width="500" height="500" src="assets/img/featurette 03.jpg" alt="Stay in the Know with Real-Time Updates" />
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

</div><!-- /.container -->