<div class="container my-5">
    <h2 class="text-center mb-4">Submit Your Review</h2>
    <form (ngSubmit)="onSubmit()">
      <!-- Comment Section -->
      <div class="form-group">
        <label for="comment">Comment</label>
        <textarea class="form-control" id="comment" name="comment" rows="4" placeholder="Write your comment here..." required [(ngModel)]="review.comment"></textarea>
      </div>
  
      <!-- Rating Section -->
      <div class="form-group">
        <label for="rating">Rating</label>
        <select class="form-control" id="rating" name="rating" required [(ngModel)]="review.rating">
          <option value="">Select Rating</option>
          <option value="1">1 - Poor</option>
          <option value="2">2 - Fair</option>
          <option value="3">3 - Good</option>
          <option value="4">4 - Very Good</option>
          <option value="5">5 - Excellent</option>
        </select>
      </div>
  
      <!-- Date Section -->
      <div class="form-group">
        <label for="date">Date</label>
        <input type="date" class="form-control" id="date" name="date" required [(ngModel)]="review.date">
      </div>
  
      <!-- Submit Button -->
      <button type="submit" class="btn btn-success btn-block mt-3">
        <i class="bi bi-plus-lg"></i> Submit Review
      </button>
      <button (click)="navigateBack()" type="submit" class="btn btn-warning btn-block mt-3 mx-3">
        <i class="bi bi-arrow-left"></i> Back
      </button>
    </form>
  </div>

  <app-toast-alert-component></app-toast-alert-component>