<div class="card text-bg-dark m-1">
    <img src="assets/img/event banner.jpg" class="card-img img-fluid " alt="Event Banner">
    <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center text-center">
        <h1 class="card-title display-4 fw-bold">Epic Moments Unveiled</h1>
        <p class="card-text px-3 px-md-5">
            Step into a world where every gathering is a chance to create unforgettable memories. At Epic Moments
            Unveiled, we believe that each event holds a story waiting to be told, a connection ready to spark, and an
            experience that lingers long after the last guest has left. Whether it's a vibrant festival, an inspiring
            seminar, or an intimate gathering, join us in celebrating the moments that bring people together. Discover
            events that make a difference and be part of something extraordinary.
        </p>
        <button 
            (click)="navigateTo('event-input')" 
            class="btn btn-warning w-75 w-md-50 py-2 mt-3" 
            type="submit">
            <i class="bi bi-plus-lg"></i> Add new event
        </button>
    </div>
</div>

<div class="container-flud">
    <div *ngFor="let event of eventList" class="row hover-card" data-aos="flip-down">
        <app-event-component [eventInfo]="event"></app-event-component>
    </div>
</div>