<div class="container px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom"><i class="bi bi-gear"></i> Settings</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="col d-flex align-items-start">
        <div>
          <h3 class="fs-2 text-body-emphasis"><i class="bi bi-person-circle"></i> Profile settings</h3>
          <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
          <button (click)="navigateTo('profile-settings')" class="btn btn-outline-warning">
            Go to settings
          </button>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h3 class="fs-2 text-body-emphasis"><i class="bi bi-calendar-event"></i> Event settings</h3>
          <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
          <button (click)="navigateTo('event-settings')" class="btn btn-outline-warning">
            Go to settings
          </button>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h3 class="fs-2 text-body-emphasis"><i class="bi bi-card-text"></i> Review settings</h3>
          <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
          <button (click)="navigateTo('review-settings')" class="btn btn-outline-warning">
            Go to settings
          </button>
        </div>
      </div>
    </div>
  </div>
<!-- Advanced Settings -->
  <div class="container px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom"><i class="bi bi-gear"></i>Advanced Settings</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="col d-flex align-items-start">
        <div>
          <h3 class="fs-2 text-body-emphasis"><i class="bi bi-people"></i> User settings</h3>
          <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
          <button (click)="navigateTo('user-settings')" class="btn btn-outline-warning">
            Go to settings
          </button>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h3 class="fs-2 text-body-emphasis"><i class="bi bi-calendar2-week"></i> All Events settings</h3>
          <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
          <button (click)="navigateTo('all-events-settings')" class="btn btn-outline-warning">
            Go to settings
          </button>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h3 class="fs-2 text-body-emphasis"><i class="bi bi-file-text"></i> All Reviews settings</h3>
          <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
          <button (click)="navigateTo('all-reviews-settings')" class="btn btn-outline-warning">
            Go to settings
          </button>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h3 class="fs-2 text-body-emphasis"><i class="bi bi-currency-dollar"></i> View sales</h3>
          <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
          <button (click)="navigateTo('view-sales')" class="btn btn-outline-warning">
            Go to settings
          </button>
        </div>
      </div>
    </div>
  </div>
  
