<header>
    <div class="nav px-3 py-2">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                    <img src="assets/img/logo with shadow.png" alt="" width="100">
                    <h1>Eventify</h1>
                </a>


                <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                    <li (click)="setActive(0)" [class.active]="activeIndex === 0">
                        <button (click)="navigateTo('home')" class="nav-link">
                            <h2 class="bi d-block mx-auto mt-3"><i class="bi bi-house-door-fill"></i></h2>
                        </button>
                    </li>
                    <li (click)="setActive(1)" [class.active]="activeIndex === 1">
                        <button (click)="navigateToEvent()" class="nav-link">
                            <h2 class="bi d-block mx-auto mt-3"><i class="bi bi-calendar2-event"></i></h2>
                        </button>
                    </li>
                    <li (click)="setActive(2)" [class.active]="activeIndex === 2">
                        <button (click)="navigateToCart()" class="nav-link">
                            <h2 class="bi d-block mx-auto mt-3"><i class="bi bi-cart4"></i></h2>
                        </button>
                    </li>
                    <li (click)="setActive(3)" [class.active]="activeIndex === 3">
                        <button (click)="navigateToSettings()" class="nav-link">
                            <h2 class="bi d-block mx-auto mt-3"><i class="bi bi-gear"></i></h2>
                        </button>
                    </li>
                    <button (click)="handleLogin()" class="btn btn-outline-warning py-2 my-3" type="submit">{{loginStatus}}</button>
                </ul>
            </div>
        </div>
    </div>
</header>