h1{
    color: #f7b731;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

h1:hover{
    color: #fbdb98;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

header{
    background-color: #4c4734;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

ul li button{
    color: #f7b731;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

ul li button:hover{
    color: #fbdb98;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

ul li.active button{
    color: #fbdb98;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}
.profile{
    margin-top: 20px;
}