<h3 class="text-center mt-3">Manage reviews</h3>

<div class="container">
    <table class="table table-bordered table-hover mt-3">
        <tr>
            <th>Count</th>
            <th>ID</th>
            <th>comment</th>
            <th>Rating</th>
            <th>Date</th>
            <th>Event Id</th>
            <th>Delete</th>
            <th>Update</th>
        </tr>
        <tr *ngFor="let review of reviewList; index as i">
            <td>{{i+1}}</td>
            <td>{{review.id}}</td>
            <td>{{review.comment}}</td>
            <td>{{review.rating}}</td>
            <td>{{review.date}}</td>
            <td>{{review.eventId}}</td>
            <td><button (click)="deleteReviewById(review.id)" class="btn btn-outline-danger w-50 my-2"><i class="bi bi-trash-fill"></i></button></td>
            <td><button (click)="updateReview(review)" class="btn btn-outline-primary w-50 my-2" data-bs-toggle="modal" data-bs-target="#exampleModal" ><i class="bi bi-pencil-square"></i></button></td>
        </tr>
    </table>
    <button (click)="navigateTo('setting')" class="btn btn-warning w-100 py-2 my-3" type="submit"><i class="bi bi-arrow-left"></i> Back</button>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Update Review</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <label for="floatingTextarea2">Comment</label>
            <div class="form-floating mb-3">
                <textarea class="form-control" id="comment" name="comment" rows="4" placeholder="Write your comment here..." required [(ngModel)]="tempReview.comment"></textarea>
            </div>
            <label for="InputEmail"><i class="bi bi-geo-alt"></i> Rating</label>
            <div class="form-floating mb-3">
                <select class="form-control" id="rating" name="rating" required [(ngModel)]="tempReview.rating">
                    <option value="">Select Rating</option>
                    <option value="1">1 - Poor</option>
                    <option value="2">2 - Fair</option>
                    <option value="3">3 - Good</option>
                    <option value="4">4 - Very Good</option>
                    <option value="5">5 - Excellent</option>
                  </select>
            </div>
            <label for="event-date">date</label>
            <div class="form mb-3">
                <input type="date" class="form-control" id="review-date" name="review-date" [(ngModel)]="tempReview.date" required>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="saveReview()" data-bs-dismiss="modal">Update Review</button>
        </div>
      </div>
    </div>
  </div>

