<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <!-- Email Input and Send OTP Button -->
            <div class="card p-4 shadow-sm">
                <h4 class="mb-3 text-center">Enter New Password</h4>
                <div class="form-group mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" id="password" placeholder="Enter your password" [(ngModel)]="user.password" class="form-control" />
                </div>
                <button (click)="UpdatePassword()" class="btn btn-primary w-100">Update Password</button>
            </div>
        </div>
    </div>
</div>

