<div class="container">
    <div class="row justify-content-center">
        <div class="col col-lg-6 col-12 mb-5 mt-5">
            <div class="form-signup">
                <img class="mb-4" src="assets/img/logo with shadow.png" alt="" width="72">
                <h1 class="h3 mb-3 fw-normal">Update your profile</h1>
                <p>It's quick and easy.</p>
                <label for="InputName">Name</label>
                <div class="form-floating mb-3">
                    <input type="name" class="form-control" id="txtName" placeholder="name" [(ngModel)]="user.name">
                </div>
                <label for="InputEmail">Email</label>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="txtEmail" placeholder="name@example.com" [(ngModel)]="user.email">
                </div>
                <label for="InputPassword">Password</label>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="txtPassword" placeholder="Password" [(ngModel)]="user.password"> 
                </div>
                <label for="InputContact">Contact</label>
                <div class="form-floating mb-3">
                    <input type="contact" class="form-control" id="txtContact" placeholder="contact" [(ngModel)]="user.contact">
                </div>
                <hr>
                <button (click)="updateUser()" class="btn btn-warning w-100 py-2" type="submit">Update</button>
            </div>
        </div>
    </div>
</div>

<app-toast-alert-component></app-toast-alert-component>
